* {
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 10px;
}

.img-text {
    position: relative;
}

img {
    width: 100%;
}

span {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate( -50%, -50% );
}